html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }


html {
  line-height: 1;
  background: url(./image/sugoi_body.png);}


ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption{
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

a img {
  border: none; }


article, header, section,{
  display: block; }


.page-sugoiweb {
  width: 100%;
  text-align: left;
  font-family: "meiryo";
  font-size: 14px;
  color: #4c4c4c;
 }

  .page-sugoiweb .sugoi-mainsection .sugoi-header h1 {
    text-align: center;
    padding-top: 90px; }

  .page-sugoiweb .sugoi-mainsection .sugoi-header h2 {
    text-align: center;
    margin-top: 43px; }

  .page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton {
    width: 160px;
    height: 65px;
    position: absolute;
    top: 30px;
    right: 30px;
    overflow: hidden;
    *zoom: 1; }
.page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton p img {
  display: block; }

.page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton p img:nth-child(2) {
  cursor: pointer; }
.page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton p.great-tweet {
  float: left; }

.page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton p.great-like {
  float: right; }

.page-sugoiweb .sugoi-mainsection .sugoi-slideshow {
  margin-top: 90px;
  width: 100%;
  overflow: hidden; }

.page-sugoiweb .sugoi-mainsection .sugoi-slideshow ul {
  width: 8900px;
  overflow: hidden;
  *zoom: 1; }

.page-sugoiweb .sugoi-mainsection .sugoi-slideshow ul li {
  float: left; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent {
  width: 960px;
 margin: 0 auto; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent section {
  padding: 40px 0;
  background: url(../sugoi_img/sugoi_item/sugoi_border.png) no-repeat;
  background-position: 0% 100%; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section1 {
  overflow: hidden;
  *zoom: 1; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section1 .sugoi-photo {
  float: left; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section1 .sugoi-caption {
  margin-left: 70px;
  float: left; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section1 p {
  width: 570px;
  float: left;
  margin-left: 70px;
  margin-top: 25px;
  font-size: 14px;
  line-height: 24px; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section2 {
  overflow: hidden;
  *zoom: 1; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section2 .sugoi-subsection {
  width: 480px;
  float: left;
  margin-top: 63px; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section2 .sugoi-subsection p {
  font-size: 13px;
  line-height: 22px;
  width: 450px;
  margin-top: 11px; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section3 {
  overflow: hidden;
  *zoom: 1; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section3 .sugoi-photo {
  float: left; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section3 .sugoi-caption {
  margin-left: 70px;
  float: left; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section3 p {
  width: 570px;
  float: left;
  margin-left: 70px;
  margin-top: 22px;
  font-size: 14px;
  line-height: 24px; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 {
  overflow: hidden;
  *zoom: 1; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 div {
  width: 300px;
  float: left; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 div.sugoi-center {
  margin: 0 30px; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 div h4 {
  margin-top: 35px; }

.page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 div p {
  font-size: 13px;
  line-height: 22px;
  width: 280px;
  margin-top: 11px; }
