/* line 17, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

/* line 9, ../sass/sugoi_stylesheet.scss */
.page-sugoiweb {
  width: 100%;
  text-align: left;
  font-family: "meiryo";
  font-size: 14px;
  color: #4c4c4c;
  background: url(../sugoi_img/sugoi_bg/sugoi_body.png); }
  /* line 21, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-mainsection .sugoi-header h1 {
    text-align: center;
    padding-top: 90px; }
  /* line 26, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-mainsection .sugoi-header h2 {
    text-align: center;
    margin-top: 43px; }
  /* line 31, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton {
    width: 160px;
    height: 65px;
    position: absolute;
    top: 30px;
    right: 30px;
    overflow: hidden;
    *zoom: 1; }
    /* line 40, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton p img {
      display: block; }
      /* line 43, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton p img:nth-child(2) {
        cursor: pointer; }
    /* line 48, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton p.great-tweet {
      float: left; }
    /* line 52, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-header .sugoi-socialbutton p.great-like {
      float: right; }
  /* line 59, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-mainsection .sugoi-slideshow {
    margin-top: 90px;
    width: 100%;
    overflow: hidden; }
    /* line 64, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-slideshow ul {
      width: 8900px;
      overflow: hidden;
      *zoom: 1; }
      /* line 68, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-slideshow ul li {
        float: left; }
  /* line 74, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-mainsection .sugoi-maincontent {
    width: 960px;
    margin: 0 auto; }
    /* line 78, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-maincontent section {
      padding: 40px 0;
      background: url(../sugoi_img/sugoi_item/sugoi_border.png) no-repeat;
      background-position: 0% 100%; }
    /* line 84, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section1 {
      overflow: hidden;
      *zoom: 1; }
      /* line 87, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section1 .sugoi-photo {
        float: left; }
      /* line 91, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section1 .sugoi-caption {
        margin-left: 70px;
        float: left; }
      /* line 96, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section1 p {
        width: 570px;
        float: left;
        margin-left: 70px;
        margin-top: 25px;
        font-size: 14px;
        line-height: 24px; }
    /* line 106, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section2 {
      overflow: hidden;
      *zoom: 1; }
      /* line 109, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section2 .sugoi-subsection {
        width: 480px;
        float: left;
        margin-top: 63px; }
        /* line 114, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section2 .sugoi-subsection p {
          font-size: 13px;
          line-height: 22px;
          width: 450px;
          margin-top: 11px; }
    /* line 123, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section3 {
      overflow: hidden;
      *zoom: 1; }
      /* line 126, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section3 .sugoi-photo {
        float: left; }
      /* line 130, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section3 .sugoi-caption {
        margin-left: 70px;
        float: left; }
      /* line 135, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section3 p {
        width: 570px;
        float: left;
        margin-left: 70px;
        margin-top: 22px;
        font-size: 14px;
        line-height: 24px; }
    /* line 145, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 {
      overflow: hidden;
      *zoom: 1; }
      /* line 148, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 div {
        width: 300px;
        float: left; }
        /* line 152, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 div.sugoi-center {
          margin: 0 30px; }
        /* line 156, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 div h4 {
          margin-top: 35px; }
        /* line 160, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section4 div p {
          font-size: 13px;
          line-height: 22px;
          width: 280px;
          margin-top: 11px; }
    /* line 170, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-wrapper-description {
      width: 900px;
      padding: 50px 30px;
      overflow: hidden;
      *zoom: 1;
      background: url(../sugoi_img/sugoi_bg/sugoi_description.png); }
      /* line 176, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-wrapper-description div {
        width: 280px;
        float: left; }
        /* line 180, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-wrapper-description div.sugoi-center {
          margin: 0 30px; }
        /* line 184, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-wrapper-description div p {
          color: #ebebeb;
          font-size: 13px;
          line-height: 22px;
          width: 280px;
          margin-top: 11px; }
    /* line 194, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container {
      margin-top: 40px;
      overflow: hidden;
      *zoom: 1; }
      /* line 198, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu {
        float: left;
        overflow: hidden;
        *zoom: 1; }
        /* line 202, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu:nth-child(1) {
          width: 440px; }
          /* line 205, ../sass/sugoi_stylesheet.scss */
          .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu:nth-child(1) p {
            width: 215px; }
        /* line 210, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu:nth-child(2) {
          width: 520px; }
          /* line 213, ../sass/sugoi_stylesheet.scss */
          .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu:nth-child(2) p {
            width: 250px; }
        /* line 218, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu h5 {
          float: left; }
        /* line 222, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu h4, .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu p {
          float: left;
          margin-left: 20px; }
        /* line 227, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section5 .sugoi-container .sugoi-raretsu p {
          font-size: 12px;
          line-height: 22px;
          margin-top: 5px; }
    /* line 236, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section6 {
      overflow: hidden;
      *zoom: 1; }
      /* line 239, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section6 div {
        width: 300px;
        float: left;
        margin-top: 20px; }
        /* line 244, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section6 div.sugoi-center {
          margin: 20px 30px 0 30px; }
        /* line 248, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section6 div h5 {
          margin-top: 35px; }
        /* line 252, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-maincontent .sugoi-section6 div p {
          width: 285px;
          margin-top: 11px;
          font-size: 13px;
          line-height: 22px; }
  /* line 262, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-mainsection .sugoi-movie {
    width: 640px;
    height: 460px;
    position: relative;
    margin: 0 auto;
    padding: 40px 0; }
    /* line 269, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-movie .sugoi-btn-play {
      width: 63px;
      height: 64px;
      display: block;
      position: absolute;
      left: 50%;
      margin-left: -32px;
      top: 50%;
      margin-top: -32px;
      background: url(../sugoi_img/sugoi_btn/sugoi_play.png) no-repeat;
      background-position: 0 0; }
  /* line 283, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-mainsection .sugoi-footer {
    background: url(../sugoi_img/sugoi_bg/sugoi_footer.png); }
    /* line 286, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-footer .sugoi-inner {
      width: 960px;
      margin: 0 auto;
      padding: 45px 0 40px 0;
      overflow: hidden;
      *zoom: 1; }
      /* line 292, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-footer .sugoi-inner .sugoi-footcontent {
        float: left;
        width: 240px; }
        /* line 296, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-footer .sugoi-inner .sugoi-footcontent h6 {
          margin-bottom: 25px; }
        /* line 300, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-footer .sugoi-inner .sugoi-footcontent a {
          font-size: 13px;
          line-height: 23px;
          text-decoration: none;
          color: #4c4c4c; }
      /* line 308, ../sass/sugoi_stylesheet.scss */
      .page-sugoiweb .sugoi-mainsection .sugoi-footer .sugoi-inner .sugoi-profile {
        float: left; }
        /* line 311, ../sass/sugoi_stylesheet.scss */
        .page-sugoiweb .sugoi-mainsection .sugoi-footer .sugoi-inner .sugoi-profile img {
          display: block;
          margin-bottom: 10px;
          cursor: pointer; }
    /* line 319, ../sass/sugoi_stylesheet.scss */
    .page-sugoiweb .sugoi-mainsection .sugoi-footer .sugoi-copyright {
      text-align: center;
      background: url(../sugoi_img/sugoi_bg/sugoi_copyright.png);
      padding: 20px 0; }
  /* line 327, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-btn-back {
    width: 102px;
    height: 102px;
    background: url(../sugoi_img/sugoi_btn/sugoi_back.png) no-repeat;
    margin: 0 auto;
    margin-top: 60px; }
  /* line 335, ../sass/sugoi_stylesheet.scss */
  .page-sugoiweb .sugoi-home {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 80px; }

/* line 342, ../sass/sugoi_stylesheet.scss */
.sugoi-btn {
  cursor: pointer;
  text-indent: -999em;
  border: none;
  display: block; }
